/mod_scratchpad/DonateIt/Item_UI_Sprites
/mod_scratchpad/DonateIt/output_images
/mod_scratchpad/Crop Timers/input_images
/mod_scratchpad/Crop Timers/output_images
/mod_scratchpad/Crop Timers/output_images_v1
/mod_scratchpad/Crop Timers/output_images_v2
mod_scratchpad/Crop Timers/crop_metadata/output.json
mod_scratchpad/Crop Timers/crop_metadata/sprite_metadata.json
/mod_scratchpad/DonateIt/Fish Entity Sprites/input_sprites
/mod_scratchpad/DonateIt/Fish Entity Sprites/output_sprites
/mod_scratchpad/DonateIt/Flower Sprites/input_sprites
/mod_scratchpad/DonateIt/Flower Sprites/output_sprites
/mod_scratchpad/DonateIt/Forage Sprites/input_sprites - Copy
/mod_scratchpad/DonateIt/Forage Sprites/input_sprites
/mod_scratchpad/DonateIt/Forage Sprites/output_sprites
/mod_scratchpad/DonateIt/Insect Entity Sprites/input_sprites
/mod_scratchpad/DonateIt/Insect Entity Sprites/output_sprites
/mod_scratchpad/DonateIt/Item Sprites/Item_UI_Sprites
/mod_scratchpad/DonateIt/Item Sprites/output_images
mod_scratchpad/DonateIt/Insect Entity Sprites/insect_entities.json
mod_scratchpad/DonateIt/Item Sprites/sprite_metadata.json
/mod_scratchpad/Crop Timers/output_images_v3
mod_scratchpad/Crop Timers/add_red_zeroes_to_sprite_json/output.json
mod_scratchpad/Crop Timers/add_red_zeroes_to_sprite_json/crop_timers.json
