/mod_scratchpad/DonateIt/Item_UI_Sprites
/mod_scratchpad/DonateIt/output_images
/mod_scratchpad/Crop Timers/input_images
/mod_scratchpad/Crop Timers/output_images
/mod_scratchpad/Crop Timers/output_images_v1
/mod_scratchpad/Crop Timers/output_images_v2
mod_scratchpad/Crop Timers/crop_metadata/output.json
mod_scratchpad/Crop Timers/crop_metadata/sprite_metadata.json
